[Unit]
Description=High-performance, schema-free document-oriented database
After=network.target

[Service]
User=mongodb
ExecStartPre=/usr/local/bin/mongod --config /etc/mongodb.conf --repair
ExecStart=/usr/local/bin/mongod --quiet --config /etc/mongodb.conf

[Install]
WantedBy=multi-user.target

